[submodule "deps/libRocket"]
	path = deps/libRocket
	url = https://github.com/librocket/libRocket
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/freetype2"]
	path = deps/freetype2
	url = https://github.com/cpp-mirrors/freetype2 
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "deps/vorbis"]
	path = deps/vorbis
	url = https://github.com/xiph/vorbis
[submodule "deps/ogg"]
	path = deps/ogg
	url = https://github.com/xiph/ogg
