[submodule "deps/libRocket"]
	path = deps/libRocket
	url = https://github.com/librocket/libRocket
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp
[submodule "deps/SDL2"]
	path = deps/SDL2
	url = https://github.com/spurious/SDL-mirror
